<div class="container">
    <div class="badge">
        <button (click)="atrasados()" mat-stroked-button color="primary" matBadge="{{closed}}">Pedidos Atrasados</button>

    </div>

    <button (click)="novoTodo()" class =" novo-todo mat-elevation-z8" mat-stroked-button color="primary">NOVO SERVIÇO</button>
    <button (click)="kanban()" class =" novo-todo mat-elevation-z8" mat-stroked-button color="primary">SERVIÇOS</button>
    <button (click)="voltarUsersAll()" class =" novo-todo mat-elevation-z8" mat-stroked-button color="primary">USUARIOS</button>
    <button (click)="voltarReadAll()" class =" novo-todo mat-elevation-z8" mat-stroked-button color="primary">LISTAGEM</button>

    <mat-card >
      <mat-card-title align ="center">Usuarios Cadastrados</mat-card-title>
      <br/>
      <mat-card-title align="center" style="color: #006400;">{{listCount}}</mat-card-title>
      <mat-card-actions align="end">
        <button (click)="voltarUsersAll()" mat-button>ver</button>
        <button mat-button>Share</button>
      </mat-card-actions>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title align="center">Empresas Cadastradas</mat-card-title>
<br/>
      <mat-card-title align="center">58</mat-card-title>

      <mat-card-actions align="end">
        <button mat-button>Like</button>
        <button mat-button>Share</button>
      </mat-card-actions>
    </mat-card>
<br>
    <mat-card>
      <mat-card-title align="center">Serviços Cadastrados</mat-card-title>
<br/>
      <mat-card-title align="center">1.185</mat-card-title>

      <mat-card-actions align="end">
        <button (click)="kanban()" mat-button>Ver</button>
        <button mat-button>Share</button>
      </mat-card-actions>
    </mat-card>

</div>




