<form>



<h1>Adicionando Novo Serviço</h1>

<mat-form-field class="data-finalizar"  appearance="fill">
    <mat-label>Data do Cadastro</mat-label>
    <input [(ngModel)]="todo.datafinalizar" name="todo.datafinalizar" matInput [matDatepicker]="dp3" disabled>
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </mat-form-field>


  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Informe seu ID para cadastrar seu serviço</mat-label>
      <!--  [formControl]="myControl" (na linha 12)-->
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
              
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option"> -
       {{option}}  
        </mat-option> 
      </mat-autocomplete>  
    </mat-form-field>
  </form>

 <div class="forms">

    <mat-form-field class="form" appearance="fill">
        <mat-label>Titulo</mat-label>
        <input [(ngModel)]="todo.titulo" name="todo.titulo" matInput placeholder="Cimento">
      </mat-form-field>
    
      <mat-form-field class="form" appearance="fill">
        <mat-label>Descrição</mat-label>
        <input [(ngModel)]="todo.descricao" name="todo.descricao" matInput placeholder="Areia">
      </mat-form-field>

      <mat-form-field class="form" appearance="fill">
        <mat-label>Valor Unidade</mat-label>
        <input [(ngModel)]="todo.valorUnitario" name="todo.valor" matInput placeholder="00,00">
      </mat-form-field>

 </div>

 <div class="buttons">
    <button (click)="create()" mat-stroked-button color="primary">CRIAR</button>
    <button (click)="cancelar()"mat-stroked-button color="warn">CANCELAR</button>


 </div>

</form>
